.cards {
    text-align: center; /* يضمن توسيط البطاقات داخل الحاوية */
}

.card {
    display: inline-block; /* يسمح بظهور العناصر جنب بعض */
    text-align: center; /* يوسّط النص داخل كل بطاقة */
    width: 31%; /* عرض البطاقة */
    margin: 10px; /* مسافة بين البطاقات */
    vertical-align: top; /* يجعل المحاذاة العلوية متناسقة */
}

.card img {
    width: 100%; /* الصورة تأخذ عرض البطاقة */
    border: 5px solid #000;
}
