.cards {
    text-align: center; /* يضمن توسيط البطاقات داخل الحاوية */
}

.card {
    display: inline-block; /* يسمح بظهور العناصر جنب بعض */
    text-align: center; /* يوسّط النص داخل كل بطاقة */
    width: 31%; /* عرض البطاقة */
    margin: 10px; /* مسافة بين البطاقات */
    vertical-align: top; /* يجعل المحاذاة العلوية متناسقة */
}

.card img {
    width: 100%; /* الصورة تأخذ عرض البطاقة */
    border: 5px solid #000;
}

/* sm */
@media screen and (max-width: 768px) {
    .sm-100{
        width: 100%; /* عرض البطاقة في الشاشات المتوسطة */
    }
    .sm-50{
        width: 50%; /* عرض البطاقة في الشاشات المتوسطة */
    }
    .sm-33{
        width: 30%; /* عرض البطاقة في الشاشات المتوسطة */
    }
    .sm-25{
        width: 25%; /* عرض البطاقة في الشاشات المتوسطة */
    }
}

/* md */
@media screen and (min-width: 768px) and (max-width: 1042px) {
    .md-100{
        width: 100%; /* عرض البطاقة في الشاشات المتوسطة */
    }
    .md-50{
        width: 50%; /* عرض البطاقة في الشاشات المتوسطة */
    }
    .md-33{
        width: 33.333%; /* عرض البطاقة في الشاشات المتوسطة */
    }
    .md-25{
        width: 25%; /* عرض البطاقة في الشاشات المتوسطة */
    }
}

/* lg */
@media screen and (min-width: 1042px) and (max-width: 1280px) {
    .lg-100{
        width: 100%; /* عرض البطاقة في الشاشات المتوسطة */
    }
    .lg-50{
        width: 50%; /* عرض البطاقة في الشاشات المتوسطة */
    }
    .lg-33{
        width: 33.333%; /* عرض البطاقة في الشاشات المتوسطة */
    }
    .lg-25{
        width: 25%; /* عرض البطاقة في الشاشات المتوسطة */
    }
}

/* xl */
@media screen and (min-width: 1280px) {
    .xl-100{
        width: 100%; /* عرض البطاقة في الشاشات المتوسطة */
    }
    .xl-50{
        width: 50%; /* عرض البطاقة في الشاشات المتوسطة */
    }
    .xl-33{
        width: 33.333%; /* عرض البطاقة في الشاشات المتوسطة */
    }
    .xl-25{
        width: 21%; /* عرض البطاقة في الشاشات المتوسطة */
    }
}